*{
    margin: 0%;
    padding: 0%;
    outline: none;
    box-sizing: border-box;
    border: none;
}
h2{ 
font-size: 200px;
font-family: 'Courier New', Courier, monospace;
text-transform: uppercase;
margin-top: 300px;
background-image:url("https://wallpapers.com/images/hd/robot-background-1dbahzlht8loodwa.jpg")

background-size cover;
background-clip: text;
color: transparent;

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

